@import "~ng-zorro-antd/ng-zorro-antd.min.css";

.container {
  display: flex;
  justify-content: center;
}

form {
  width: 25%;

  &.ng-submitted .ng-invalid {
    border-color: red !important;
  }
}

//.ng-invalid {
//  border-color: #40a9ff;
//}

.error {
  color: #ff4d4f;
}

.action-buttons button {
  margin-right: 4px;
}

.contact-via {
  width: 100px;
  text-align: end;
  padding-right: 10px;
}
